.indicators-pane {
    -fx-pref-width: 600px;
    -fx-pref-height: 500px;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.3), 12, 0.5, 0, 3);
    -fx-background-color: #0e1429ef;
    -fx-background-radius: 6px;
    -fx-border-style: solid;
    -fx-border-width: 1 1 1 1;
    -fx-border-color: #ffffff1a;
    -fx-border-radius: 6px;
}

.indicators-pane-header {
    -fx-padding: 15px;
}

.indicators-pane:dragging .indicators-pane-header:hover {
    -fx-cursor: closed-hand;
}

.indicators-pane-header:hover {
    -fx-cursor: open-hand;
}

.indicators-pane-title {
    -fx-font-size: 1.8em;
    -fx-font-weight: bold;
    -fx-text-fill: white;
}

.indicators-pane-header-separator .line {
    -fx-border-style: solid;
    -fx-border-width: 0 0 1 0;
    -fx-border-color: #ffffff1a;
}

.indicators-pane-list {
    -fx-background-insets: 0px;
    -fx-padding: 0px;
    -fx-background-color: transparent;
}

.indicators-pane-list .list-cell {
    -fx-font-size: 1.3em;
    -fx-background-color: transparent;
}

.indicators-pane-list .list-cell:filled:hover {
    -fx-background-color: #ffffff08;
    -fx-cursor: hand;
}

.indicators-pane-list .list-cell:filled:selected {
    -fx-background-color: #ffffff10;
}

.indicators-pane-list .scroll-bar .decrement-button,
.indicators-pane-list .scroll-bar .decrement-arrow,
.indicators-pane-list .scroll-bar .increment-button,
.indicators-pane-list .scroll-bar .increment-arrow {
    -fx-min-width: 0px;
    -fx-min-height: 0px;
    -fx-pref-width: 0px;
    -fx-pref-height: 0px;
    -fx-max-width: 0px;
    -fx-max-height: 0px;
}

.indicators-pane-list .scroll-bar:horizontal {
    -fx-min-height: 10px;
    -fx-pref-height: 10px;
    -fx-max-height: 10px;
}

.indicators-pane-list .scroll-bar:vertical {
    -fx-min-width: 10px;
    -fx-pref-width: 10px;
    -fx-max-width: 10px;
}

.indicators-pane-list .scroll-bar, .indicators-pane-list .corner {
    -fx-background-color: #1d2530;
}

.indicators-pane-list .scroll-bar .thumb {
    -fx-background-color: #384357;
}

.indicators-pane-list-entry {
    -fx-font-size: 1em;
    -fx-padding: 16px;
    -fx-text-fill: #f5f5f5f5;
    -fx-selection-highlight-color: #ffffff20;
}